  <article>
      <h2>The Book of Boba Fett</h2>
  </article>
  <article id="columnas">
      <section id="series">
          <h3>"El Libro de Boba Fett"</h3>
          <div id="fotoserie"><img src="../images/bookboba.jpg" alt="Cover_book_of_boba_fett"></div>
          <p class="infoserie">El Libro de Boba Fett, una emocionante aventura de Star Wars, encuentra al legendario cazarrecompensas <em>Boba Fett</em> y a la mercenaria <em>Fennec Shand</em> navegando por el inframundo de la galaxia cuando regresan a las arenas de Tatooine para reclamar el territorio que una vez gobernó Jabba el Hutt y su sindicato criminal. <br><br> Temuera Morrison interpreta a Boba Fett, y Ming-Na Wen también interpreta a Fennec Shand, ambos repitiendo sus papeles de The Mandalorian. Se hicieron varios intentos para desarrollar una película independiente de Star Wars centrada en Boba Fett antes de que Lucasfilm comenzara a priorizar el desarrollo de su serie de streaming, The Mandalorian. Morrison apareció como Fett junto a Wen en la segunda temporada de The Mandalorian, y una posible serie derivada se informó por primera vez en noviembre de 2020. El libro de Boba Fett se anunció oficialmente en diciembre de 2020, con Morrison y Wen como protagonistas.
          </p>
      </section>
  </article>