<article>
      <h2>Clone Wars</h2>
  </article>
  <article id="columnas">
      <section id="series">
          <h3>"La Guerra de los Clones"</h3>
          <div id="fotoserie"><img src="../images/clonewars.jpg" alt="cover_clone_wars"></div>
          <p class="infoserie">Star Wars: The Clone Wars, también conocida como Star Wars: La Guerra de los Clones es una serie de televisión animada ambientada entre los sucesos de de <em>Star Wars: Episodio II El Ataque de los Clones</em> y <em>Star Wars: Episodio III La Venganza de los Sith</em>. La serie se emitió en Cartoon Network durante cinco temporadas entre 2008 y 2013, mientras que una breve sexta temporada se lanzó a través de Netflix en 2014. El 19 de julio de 2018, se anunció que se producirían doce episodios más para el servicio de streaming Disney+, que fueron estrenados a partir de febrero de 2020 y finalizados el 4 de mayo de 2020. Consta de 7 temporadas y 133 capitulos en total. <br><br> Cuando la guerra de los clones se extiende por la galaxia, <em>Anakin Skywalker</em> y su nuevo aprendiz Padawan Ahsoka Tano aceptan una peligrosa misión: rescatar al hijo del señor del crimen Jabba el Hutt.
          </p>
      </section>
  </article>
