<article id="columnas2">
    <section id="formula">
        <h4><b>Nombre y Apellido:</b></h4>
        <p class="infoserie">Marcelo Ariel Moreira Contreras</p>
        <h4><b>Curso Professional Webmaster</b></h4>
        <p class="infoserie">Trabajo práctico integrador final</p>
        <h4><b>Año:</b></h4>
        <p class="infoserie">2022</p>
    </section>
</article>
