<article>
      <h2>REBELS</h2>
  </article>
  <article id="columnas">
      <section id="series">
          <h3>"Star Wars Rebels"</h3>
          <div id="fotoserie"><img src="../images/rebels.jpg" alt="coverebels"></div>
          <p class="infoserie">Star Wars Rebels es una serie de televisión animada ambientada durante el período de tiempo entre las películas Star Wars: Episodio III La Venganza de los Sith y Star Wars: Episodio IV Una Nueva Esperanza. Se estrenó en todo el mundo como una película para televisión de una hora, Star Wars Rebels: La Chispa de la Rebelión, en Disney Channel el 3 de octubre de 2014 en Estados Unidos; los episodios regulares se emitieron durante cuatro temporadas en Disney XD, desde el 13 de octubre de 2014 hasta el 5 de marzo de 2018. Durante su ejecución, la serie fue nominada a cuatro Premios Emmy, incluidas dos nominaciones consecutivas por «Mejor Programa Infantil». <br><br> La serie sigue a un variopinto grupo de rebeldes que viven a bordo de la nave estelar Espíritu mientras luchan contra el malvado Imperio Galáctico. Los rebeldes incluyen a Ezra Bridger, un joven huérfano de Lothal que aprende que puede usar la Fuerza; Kanan Jarrus, un Jedi que sobrevivió a la Orden 66; Hera Syndulla, piloto twi'lek y veterana luchadora de la resistencia; Sabine Wren, mandaloriana experta en explosivos; Garazeb «Zeb» Orrelios, un guerrero lasat; y el droide astromecánico cascarrabias C1-10P, también conocido como Chopper. La tripulación eventualmente ayudará a dar lugar a la Alianza Rebelde.
          </p>
      </section>
  </article>