<article>
      <h2>The Mandalorian</h2>
  </article>
  <article id="columnas">
      <section id="series">
          <h3>Temporada 1</h3>
          <div id="fotoserie"><img src="../images/mandotempo1.jpg" alt="covermandotempo1"></div>
          <p class="infoserie">La primera temporada de El Mandaloriano comienza cuando el protagonista está cazando algunos delincuentes en un remoto planeta de la galaxia. Él se muestra frío e implacable. Cuando busca un nuevo trabajo le ofrecen uno bastante más complicado, ya que tiene que conseguir un objetivo muy bien custodiado. Él acepta sin pensárselo y viaja al lugar donde tiene que hacer frente a un ejército, por suerte tiene a un droide cazarrecompensas de su lado.

            Cuando encuentra a su presa, se da cuenta de que es un pequeño ser verde. Baby Yoda entra en escena robando el corazón de los espectadores y del duro guerrero. El viaje de regreso es complicado pero entrega al pequeño y recibe un gran botín a cambio. Pero, algo dentro de él se ha conmovido y decide rescatarlo, ya que sus nuevos custodiadores forman parte de los restos del Imperio, que hace unos 5 años había caído cuando Luke Skywalker y Darth Vader derrotan al Emperador en la segunda Estrella de la Muerte.
            
            El Mandaloriano rompe su código y rescata a Baby Yoda, así que ahora debe huir porque todo el mundo los está buscando. Entre medias hará grandes amigos y deberá enfrentarse a Moff Gideon. Después de sortear muchos peligros y conseguir sobrevivir, crea su propio clan de dos formado por él y el pequeño. La primera temporada termina con el objetivo de tener que buscar algunos otros seres de la misma raza que Baby Yoda para dejarlos con ellos y que estén a salvo. ¡Este es el camino!</p>
      </section>
      <section id="series">
        <h3>Temporada 2</h3>
        <div id="fotoserie"><img src="../images/mandotempo2.jpg" alt="covermandotempo2"></div>
        <p class="infoserie">La serie volvió tras un año de espera con este episodio donde se nos presenta al comisario Cobb Vanth, el cual portaba la armadura de Boba Fett. Pero antes de ello debemos contextualizar cómo se conocieron. Din Djarin va a Tatooine en busca de un Mandaloriano, y es que la herrera le comenta a Mando que con ellos podría encontrar a aquellos “hechiceros” que pueden ayudar al Crío.
        Mando vuelve al pueblo de Tatooine, donde la mujer que repara su nave le comenta que conoce a una persona que sabe sobre el paradero de Mandalorianos. Para ello, Din Djarin deberá llevar a una pasajera, una rana, que tiene en un recipiente a todas sus crías, por lo que no podrán llegar a la localización a la velocidad de la luz.
        Din Djarin consigue aterrizar su nave aunque está para el arrastre, y consigue que la pasajera llegue con su marido y sus crías. Mando consigue hablar con un Quarren que dice saber dónde hay mandalorianos, por lo que se lleva a Mando y Baby Yoda en su barco.</p>
    </section>
  </article>